<form class="" action="/articles" method="post">
  <div class="">
    <input id="title" type="text" name="title" value="">
    <br>
    <input id="content" type="text" name="content" value="">
  </div>
  <input id="Submit" type="submit" name="" value="New Article">
</form>
