<h1>Create Your Article</h1>
<form action="/articles" method="post">
    <div>
        <label>Title: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label>Content: </label>
        <input type="text" name="content">
    </div>
    <input type="submit" id="Submit">
</form>