<form action="/articles" method="POST">
<h1>Create an Article!</h1>
  <label for="name">Title</label>
  <input type="text" name="title">
  <label for="content">Content</label>
  <input type="text" name="content">
  <input type="submit" value="Submit">
  </form>
